.MainBody {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.TopBody {
    margin-top: 213px;
    /*margin-left: 208px;*/
    /*margin-right: 208px;*/
    width: 1507px;


}

.FirstLine {


}

.FirstLine p {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 28px;
    color: #252A34;
}

.SecondLine {
    margin-top: 26px;
    margin-right: 1px;

}

.SecondLine p {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 500;
    font-size: 51px;
    line-height: 74px;
    text-align: right;
    text-transform: capitalize;
    color: #252A34;
}

.FirstParagraph {
    margin-right: 1px;
    margin-top: 26px;

}

.FirstParagraph p {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 184%;
    /* or 184% */
    text-align: right;
    text-transform: capitalize;
    color: #444444;
}

.imageContainer {
    width: 1502px;
    height: 1008px;
    background: rgba(77, 122, 210, 0.2);
    margin-top: 8px;
    margin-left: 209px;
    margin-right: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer image {

}

.middleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1428px;
    height: 114px;
    margin-top: 111px;
    background: url("../../../images/AboutUs/backgroundMiddle.png");
}

.middleContainer p {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 87%;
    /* identical to box height, or 87% */
    text-align: center;
    text-transform: capitalize;
    color: #444444;
}

.tripleContainer {
    margin-left: 272px;
    margin-top: 89px;
    margin-right: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1450px;
}

.TriplePart {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.asanPart {
    display: flex;
    margin-top: 1px;

    margin-left: 32px;

}

.imageRight {
    margin-left: 18px;

}

.rightParContainer {
    margin-top: 4px;


}

.titleRight {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 112%;
    /* identical to box height, or 112% */
    text-align: right;
    text-transform: capitalize;
    color: #252A34;
}

.parTriplerightContainer {
    margin-top: 17px;
    width: 290px;


}

.parTripleRight {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 184%;
    /* or 184% */
    text-align: right;
    text-transform: capitalize;
    color: #444444;
}

.rightDots {
    margin-left: 90px;

    margin-top: 3px;

}

.middlePart {
    display: flex;


}

.imageMiddle {
    margin-left: 25px;

}

.middleParContainer {
    margin-top: 5px;
}

.parTripleMiddleContainer {
    width: 290px;
}

.leftDots {
    margin-right: 56px;
    margin-left: 56px;


}

.leftPart {
    display: flex;
    margin-top: 3px;

}

.parTripleLeftContainer {
    margin-top: 12px;
    width: 290px;


}

.imageLeft {
    margin-left: 25px;
    width: 75px;
    height: 75px;
}

.leftParContainer {
    margin-top: 7px;
}

.buttonContainer {
    margin-top: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D7AD2;
    border-radius: 10px;
    flex-direction: row;
    padding: 12px 24px;
    gap: 10px;
    width: 181px;
    height: 54px;
    margin-right: 671px;
    margin-left: 598px;

}

.buttonSignUp {
    font-family: 'IRANSansXFaNum';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 126%;
    /* identical to box height, or 126% */
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.endContainer {
    margin-top: 93px;
}