.parent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-image: url(../../../assets/images/LandingPage/background.png);
    background-size: cover;
}
.top{
    font-family: IRANNastaliqh, IRANSans;
    color: #555555;
    text-align: center;
}
.bottom_text{
    text-align: center;
    color: black;
    text-shadow: 2px 7px 11px rgba(0,0,0,0.63);
}
.enter_parent{
    display: flex;
    justify-content: center;
}
.login{
    color: black;
    border: solid #4D7AD2 1px;
    border-radius: 5px;
}
.sign_up{
    color: white;
    border: solid #4D7AD2 1px;
    border-radius: 5px;
    background-color: #4D7AD2;
}
.sign_up:hover{
    color: white;
}

.shape_1, .shape_2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.shape_3{
    position: absolute;
    bottom: 0;
    left: 0;
}