.gr
{
    border: 1px solid red;
}
.gary
{
    border: 1px solid gray;
}

.red
{
    border: 1px solid black;
}
.margintopincss
{
    margin-top: 150px;
}
.h1marginbottom
{
    color: #219d80;
}
.colmargin
{
    margin-bottom: 30px;
   
}
.img
{
    width: 25px;
}
.innerpadding
{
    padding-left: 50px;
}

.postcard
{
    background-color: #edf7f5;
    min-height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 80px;
}
.margint
{
    margin-top: 0px;
}

.imagecardsize
{
    width: 50%;
    height: 90%;
}

.spacebetweenttwocard
{
    min-height: 400px;
}
.padding
{
    padding-right: 10%;
}
.postcardslider
{
    background-color: #edf7f5; 
    min-height: 300px;
    padding: 10px;
}

.dir
{
    direction: rtl;
}
.smallfont
{
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 15px;
}
.border
{
    background-color: white;
    color: black;
}