
.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: #ffffff;
    height: 1080px;
    position: relative;
    padding: 100px 25vw;
}

.allFather {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 918px;
    background: #ffffff;
    height: 1080px;
    align-items: center;
    position: relative;

}

.leftContainer::before {
    content: "";
    display: block;
    position: absolute;
    width: 1300px;
    height: 1080px;
    background: rgba(59, 129, 116, 1);
    z-index: 10;
    left: -420px;
    top: -40px;
    transform: rotate(-80deg);
}
.imgContainer{
z-index: 22;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    position: absolute;
    top:35%
}

