
.mainContainer {
    position: relative;
    direction: ltr;
    height: 100vh;

    overflow: hidden;
}

.leftSide {

    position: absolute;
    width: 1199.15px;
    height: 1255.3px;
    left: -350.08px;
    top: -250.19px;

    background: #3B8174;
    transform: rotate(280.25deg);


}

.leftHeader {
    position: absolute;
    width: 692px;
    height: 30px;
    left: 70px;
    top: 228px;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
    color: #EEEEEE;
}

.leftPar {
    direction: rtl;
    position: absolute;
    width: 636px;
    height: 293px;
    left: 78px;
    top: 375px;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 63px;
    /* or 175% */
    white-space: pre-line;

    text-align: right;
    text-transform: capitalize;

    color: #ffffff;
}

.Hive {
    position: absolute;
    height: 46.09836196899414px;
    width: 69.77049255371094px;
    left: 139.23046875px;
    top: 36.213134765625px;

    font-family: 'Irish Grover', 'Irish Grover', iR, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 47.15px;

    color: #ffffff;
}

.logoStyle {
    position: absolute;
    height: 66.03278350830078px;
    width: 82.22950744628906px;
    left: 57px;
    top: 25px;
    border-radius: 0px;

}

.rightSide {


}

.rightHeader {
    position: absolute;
    width: 457px;
    height: 54px;
    left: 63.35%;
    top: 189px;

    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 122.69%;
    /* identical to box height, or 54px */

    text-align: right;
    letter-spacing: 0.015em;

    color: #000000;
}

.twitter {
    position: absolute;
    height: 40.61538314819336px;
    width: 40.61538314819336px;


    left: 3.63%;
    right: 94.25%;
    top: 85.06%;
    bottom: 11.18%;

    border-radius: 0px;

}

.youtube {
    height: 40.61538314819336px;
    width: 40.61538314819336px;
    left: 19.74%;
    right: 78.14%;
    top: 85.06%;
    bottom: 11.18%;
    border-radius: 0px;
    position: absolute;

}

.insta {
    position: absolute;
    left: 9%;
    right: 88.88%;
    top: 85.06%;
    bottom: 11.18%;
    height: 40.61538314819336px;
    width: 40.61538314819336px;

    border-radius: 0px;

}

.pinterest {
    position: absolute;
    left: 14.37%;
    right: 83.51%;
    top: 85.06%;
    bottom: 11.18%;
    height: 40.61538314819336px;
    width: 40.61538314819336px;
    border-radius: 0;

}

.formInput1 {
    position: absolute;
    direction: rtl;
    left: 51.98%;
    right: 11.93%;
    top: 29.07%;
    bottom: 65.46%;
    background: #F3F2F2;
    border-radius: 14px;
    height: 59px;
    width: 693px;
    border: none;
    outline: none;
    text-indent: 10px;

}

.formInput1::placeholder {
    position: absolute;
    left: 71.27%;
    right: 4%;
    top: 24.37%;
    bottom: 66.99%;
    font-family: 'IRANSans(FaNum)';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 122.69%;
    text-align: right;
    letter-spacing: 0.015em;
    color: #A3A3A3;
    height: 28.54838752746582px;
    width: 301.99542236328125px;
}

.formInput2 {
    position: absolute;
    left: 51.98%;
    direction: rtl;
    right: 11.93%;
    top: 38.33%;
    bottom: 56.2%;
    background: #F3F2F2;
    border-radius: 14px;
    height: 59px;
    width: 693px;
    border: none;
    outline: none;
    text-indent: 10px;
}

.formInput2::placeholder {
    position: absolute;
    left: 51.27%;
    right: 4%;
    top: 24.33%;
    bottom: 57.73%;
    font-family: 'IRANSans(FaNum)';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 122.69%;
    text-align: right;
    letter-spacing: 0.015em;
    color: #A3A3A3;
    width: 302px;
    height: 29px;
}

.formInput3 {
    position: absolute;
    left: 51.93%;
    right: 11.98%;
    top: 47.59%;
    bottom: 46.94%;
    background: #F3F2F2;
    border-radius: 14px;
    height: 59px;
    width: 693px;
    direction: rtl;
    border: none;
    outline: none;
    text-indent: 10px;
}

.formInput3::placeholder {
    position: absolute;
    left: 71.22%;
    right: 4%;
    top: 24.33%;
    bottom: 48.47%;
    font-family: 'IRANSans(FaNum)';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 122.69%;
    text-align: right;
    letter-spacing: 0.015em;
    color: #A3A3A3;
    width: 302px;
    height: 29px;
}

.formInput3:focus {
    outline: none;

}

.formInput2:focus {
    outline: none;

}

.formInput1:focus {
    outline: none;

}

.signButton {
    position: absolute;
    font-family: 'IRANSans(FaNum)';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 122.69%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #F9FBFF;
    width: 693px;
    height: 65px;
    left: 51.93%;
    top: 61.59%;
    right: 229px;
    bottom: 393px;
    background: #219D80;
    border-radius: 8px;
    cursor: pointer;
}

.underSign {
    position: absolute;
    direction: rtl;
    width: 271px;
    height: 23px;
    left: 72.55%;
    right: 229px;
    top: 71.59%;
    font-family: 'IRANSans(FaNum)', 'IRANSans(FaNum)', b, "B Mitra";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 122.69%;
    text-align: right;
    letter-spacing: 0.015em;
    color: rgba(0, 0, 0, 0.58);

}

.loginSpan {
    color: rgba(33, 157, 128, 1);
    font-weight: bold;
    cursor: pointer;
}

.textContainer {
    position: absolute;
    width: 201px;
    height: 22px;
    left: 1310px;
    top: 76.96%;
    font-family: 'IRANSans(FaNum)';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 122.69%;
    text-align: center;
    letter-spacing: 0.015em;
    color: rgba(33, 157, 128, 0.56);
}

.leftLine {
    position: absolute;
    width: 239px;
    height: 0px;
    left: 1068px;
    top: 78.59%;
    border: 1px solid #219D80;
}

.rightLine {
    position: absolute;
    width: 235px;
    height: 0px;
    left: 74.13%;
    top: 78.59%;
    border: 1px solid #219D80;
}