.MainBody {
    background: #edf3f7;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;


}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;

}

.buttonContainer button {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    border: 1px solid rgba(77, 122, 210, 1);
    transition: all 0.2s ease-in;

}

.buttonContainer button:hover {
    background: rgba(77, 122, 210, 1);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 1px 4px #219D80;
}
