.menu_parent{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 9vh 0;
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #FAFAFA;
    box-shadow: -3px 4px 7px 6px #0000003D;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: calc(1.3vw + 0.25rem) calc(1.5vw + 0.3rem);
    padding-bottom: calc(1.7vw + 0.2rem);
    border-bottom: solid #ADADAD calc(0.1vw + 0.04rem);
}
.imgTop{
    cursor: pointer;
}
.top_title{
    font-size: calc(1vw + 0.6rem);
    margin-top: calc(0.4vw + 0.06rem);
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;

}
.center{
    height: 100%;
    padding: calc(1vw + 0.3rem);
    border-bottom: solid #ADADAD calc(0.1vw + 0.04rem);
}

.center_note{
    margin: calc(0.4vw + 0.05rem) 0 calc(1vw + 0.1rem) 0;
    color: rgba(0, 0, 0, 0.7);
    display: block;
}
.bottom{
    padding: calc(1vw + 0.3rem);
    display: flex;
    justify-content: center;
    margin-bottom: calc(1.3vw + 0.15rem);
    gap: calc(1vw + 0.1rem);
}
.background{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
    position: fixed;
    top: 0;
}
.type { 
    min-width: calc(5.2vw + 1.3rem);
    display: inline-block;
    padding: calc(0.35vw + 0.04rem) 0;
    border: solid calc(0.09vw + 0.01rem) rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    margin: calc(0.2vw + 0.3rem) calc(0.3vw + 0.1rem);
    font-weight: 500;
}
.see_more{
    margin-right: calc(0.5vw + 0.03rem);
    border-bottom: solid #969696 calc(0.01vw + 0.005rem);
}
.reset_btn{
    min-width: calc(5vw + 0.8rem);
    padding: calc(0.4vw + 0.045rem);
    border-radius: 10px;
    border: rgba(0,0,0,0.5) solid calc(0.05vw + 0.005rem);
    background-color: white;
    color: black;
}
.see_result_btn{
    min-width: calc(5vw + 0.8rem);
    padding: calc(0.4vw + 0.045rem);
    border-radius: 10px;
    border: 0;
    background-color: #4D7AD2;
    color: white;

}
.filters{
    cursor: pointer;
}