.table{
    
}
.table th{
    padding: 0.8vw 1.7vw;
    border-bottom: solid 1px #F2F2F2;
}
.table>thead th{
    background-color: #F7F7F7;
}
.table_shadow{
    position: relative;
    box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.3);
    background-size: cover;
    background-color: #FCFCFC;
}
/* .table tr>th{
    display: flex;
} */
.pagination{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}
.pagination_num{
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #E6E6E6;
}