.table{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.table th{
    padding: 0.7vw 1.5vw;
    border-bottom: solid 1px #F2F2F2;
}
.table>thead th{
    background-color: #F7F7F7;
}
.table_shadow{
    position: relative;
    box-shadow: 0px 9px 8px -4px rgba(0,0,0,0.3);
    background-size: cover;
    background-color: #FCFCFC;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}
.pagination_num{
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #E6E6E6;
}
.table th{
    min-width: 7.5vw;
}
.column_name *{
    width: 100%;
}