.parent{
    background-color: white;
    padding: calc(3vw + 2.5rem) 0;
}
.title{
    color: black;
    font-weight: bold;
    font-size: calc(1.1vw + 0.8rem);
    padding-right: calc(1.4vw + 1.1rem);
    display: flex;
    align-items: center;
}
.title hr{
    width: calc(4.5vw + 4.2rem);
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: calc(1vw + 0.7rem);
    height: 1px;
}
.projects_section {
    display: flex;
    flex-direction: column;
    background-color: #002036;
  }
  
  .projects_part {
    display: flex;
    padding: calc(1.4vw + 1.1rem);
    gap: calc(1vw + 0.8rem);
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .projects_part::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .project_element {
    min-width: 60vw;
    margin: 4vh 4vw 4vh 4vw;
    border: 0.3vw solid #0090c7;
    border-radius: 4vw;
    color: #fff;
    background-color: #004373;
  }
  
  .img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
  }
  
  .more_info_btn {
    position: relative;
    display: inline-block;
    left: -90%;
    top: 0.5vh;
    cursor: pointer;
  }
  
  .project_desc {
    display: inline-block;
    font-weight: 300;
    font-size: 3.5vw;
    margin-top: 1vh;
  }
  
  .project_title {
    font-size: 4.2vw;
    margin: 1vh 3vw;
  }
  