.jan {


    /* transform: translate(-50%, -50%); */
    color: white;
    background-color: rgb(59, 129, 116);
    clip-path: polygon(0% 0%, 100% 0, 88% 52%, 77% 100%, 0% 100%);
}

.hi {
    height: 180px;
}

.hi2 {
    height: 320px;
}

.jan2 {
    width: 100%;
    height: 100%;
    background-image: url("../../../images/Authentication/Group 10.png");
}

.shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3000px;
    height: 3000px;
    background-color: green;
    clip-path: polygon(0% 0%, 62% 0%, 35% 100%);
    z-index: 0;
    /* clip-path: polygon(); */
}


.marginTop {
    margin-top: 20px;
}

.marginTop1 {
    margin-top: 100px;
}

.colorGreen {
    color: green;
    text-align: center;
}

.border_rad {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 50px;
}

.text_align_left {
    text-align: left;
}

.text_align_center {
    text-align: center;
}

.font_size {
    font-size: 30px;
    color: rgb(41, 221, 17);
}

.p {
    font-size: 25px;
    text-align: center;
}

.blur {
    z-index: 2000;
    margin-top: -730px;
    margin-right: -20px;
    position: absolute;
    width: 101%;
    height: 110%;
    opacity: 0.97;
    background-color: rgb(148, 183, 164);
    text-align: center;

}

.card {
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    margin: 170px auto;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
}

.exitIcon {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

